[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/nanobind"]
	path = thirdparty/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "plugin/vulender"]
	path = plugin/vulender
	url = git@github.com:joeyskeys/vulender.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
